{{!-- <html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='../public/css/index.css' />
    <title>Inicio</title>
  </head>
  <body class='cajaProducts'>
    <h1 class='titulo1'>Bienvenidos, estos son nuestros productos:</h1>
    <div class='contenedorProducts'>
      {{#each productos}}
        <p>{{this.thumbnail}}</p>
        <h2>{{this.title}}</h2>
        <p class='contenido'><strong>Descripcion: </strong>{{this.description}}</p>
        <p class='contenido'><strong>Categoria: </strong>{{this.category}}</p>
        <p class='contenido'><strong>Stock: </strong>{{this.stock}}</p>
        <p class='contenido'><strong>Codigo: </strong>{{this.code}}</p>
        <p class='contenido'><strong>Precio: </strong>${{this.price}}</p>
      {{/each}}
    </div>
    <script src='/socket.io/socket.io.js'></script>
    <script src='/js/index.js'></script>
  </body>
</html> --}}

<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='../public/css/index.css' />
    <title>Inicio</title>
  </head>
  <body >
    <section>
      <div class="container">
        {{#each productos}}
        <div class="card">
          <div class="product-image">
            <img src="" alt="">
          </div>
          <div class="product-info">
            <h4>{{this.title}}</h4>
            <p><strong>Descripcion: </strong>{{this.description}}</p>
            <p><strong>Categoria: </strong>{{this.category}}</p>
            <p><strong>Stock: </strong>{{this.stock}}</p>
            <p><strong>Codigo: </strong>{{this.code}}</p>
            <p><strong>Precio: </strong>${{this.price}}</p>
          </div>
          <div class="btn">
            <button type="button">Agregar al carrito</button>
          </div>
        </div>
        {{/each}}
      </div>
</section>

    <script src='/socket.io/socket.io.js'></script>
    <script src='/js/index.js'></script>
  </body>
</html>